<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <title>{{ i18n 'title' }}</title>
  </head>
  <body>
    <header>
      <nav id="navbar" data-navbar-scrolled="true">
        <ul>
          <li><a href="#welcome-section">{{ i18n 'home' }}</a></li>
          <li><a href="#projects-anchor">{{ i18n 'projects' }}</a></li>
          <li><a href="#contact-anchor">{{ i18n 'contact' }}</a></li>
        </ul>
      </nav>
    </header>
    <section id="welcome-section">
      <h1>{{ i18n 'welcome_msg' }}</h1>
      <h2>{{ i18n 'welcome_submsg' }}</h2>
    </section>
    <main>
      <section id="projects">
        <span id="projects-anchor"></span>
        <h2>{{ i18n 'projects_msg' }}</h2>
        <h3>{{ i18n 'personal_projects_msg' }}</h3>
        <hr>
        <div id="projects-group">
          <div class="project-tile">
            <p class="project-name">Arcdps-rupdater</p>
            <div class="project-flex">
              <img alt="project screencap" src="../img/arcdps_screenshot.png"
                                           class="project-img">
              <div class="project-panel">
                <p>{{ i18n 'arcdps_rupdater_desc' }}</p>
                <ul>
                  <li class="btn-snd"><i class="fa fa-tag"></i>rust</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>GTK</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>gettext</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>cross-compilation</li>
                </ul>
                <a class="btn" href="https://gitlab.com/krimlinger/arcdps-rupdater">
                  <i class="fab fa-gitlab"></i>{{ i18n 'view_project_source' }}
                </a>
              </div>
            </div>
          </div>
          <div class="project-tile">
            <p class="project-name">Gasnu</p>
            <div class="project-flex">
              <img alt="project screencap" src="../img/gasnu_screenshot.png"
                                           class="project-img">
              <div class="project-panel">
                <p>{{ i18n 'gasnu_desc' }}</p>
                <ul>
                  <li class="btn-snd"><i class="fa fa-tag"></i>C</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>libjansson</li>
                </ul>
                <a class="btn" href="https://gitlab.com/krimlinger/gasnu">
                  <i class="fab fa-gitlab"></i>{{ i18n 'view_project_source' }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <h3>{{{ i18n 'fcc_projects_msg' }}}</h3>
        <hr>
        <div id="projects-group">
          <div class="project-tile">
            <p class="project-name">{{ i18n 'product_landing_page' }}</p>
            <div class="project-flex">
              <img alt="project screencap"
                   src="../img/product_landing_screenshot.png"
                   class="project-img">
              <div class="project-panel">
                <p>{{ i18n 'product_landing_page_desc' }}</p>
                <ul>
                  <li class="btn-snd"><i class="fa fa-tag"></i>HTML5</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>CSS3</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>Vanilla JS</li>
                </ul>
                <a class="btn" href="/fcf-product-landing-page">
                  <i class="fa fa-globe"></i>{{ i18n 'view_project_live' }}
                </a>
                <a class="btn" href="https://gitlab.com/krimlinger/fcf-product-landing-page">
                  <i class="fab fa-gitlab"></i>{{ i18n 'view_project_source' }}
                </a>
              </div>
            </div>
          </div>
          <div class="project-tile">
            <p class="project-name">{{ i18n 'tribute_page' }}</p>
            <div class="project-flex">
              <img alt="project screencap" src="../img/tribute_screenshot.png"
                                           class="project-img">
              <div class="project-panel">
                <p>{{ i18n 'tribute_page_desc' }}</p>
                <ul>
                  <li class="btn-snd"><i class="fa fa-tag"></i>HTML5</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>CSS3</li>
                </ul>
                <a class="btn" href="/fcf-tribute-page">
                  <i class="fa fa-globe"></i>{{ i18n 'view_project_live' }}
                </a>
                <a class="btn" href="https://gitlab.com/krimlinger/fcf-tribute-page">
                  <i class="fab fa-gitlab"></i>{{ i18n 'view_project_source' }}
                </a>
              </div>
            </div>
          </div>
          <div class="project-tile">
            <p class="project-name">{{ i18n 'technical_documentation_page' }}</p>
            <div class="project-flex">
              <img alt="project screencap"
                   src="../img/technical_documentation_screenshot.png"
                                           class="project-img">
              <div class="project-panel">
                <p>{{ i18n 'technical_documentation_page_desc' }}</p>
                <ul>
                  <li class="btn-snd"><i class="fa fa-tag"></i>HTML5</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>CSS3</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>Vanilla JS</li>
                </ul>
                <a class="btn" href="/fcf-technical-documentation-page">
                  <i class="fa fa-globe"></i>{{ i18n 'view_project_live' }}
                </a>
                <a class="btn" href="https://gitlab.com/krimlinger/fcf-technical-documentation-page">
                  <i class="fab fa-gitlab"></i>{{ i18n 'view_project_source' }}
                </a>
              </div>
            </div>
          </div>
          <div class="project-tile">
            <p class="project-name">{{ i18n 'survey_page' }}</p>
            <div class="project-flex">
              <img alt="project screencap" src="../img/survey_screenshot.png"
                                           class="project-img">
              <div class="project-panel">
                <p>{{ i18n 'survey_page_desc' }}</p>
                <ul>
                  <li class="btn-snd"><i class="fa fa-tag"></i>HTML5</li>
                  <li class="btn-snd"><i class="fa fa-tag"></i>CSS3</li>
                </ul>
                <a class="btn" href="/fcf-survey-form">
                  <i class="fa fa-globe"></i>{{ i18n 'view_project_live' }}
                </a>
                <a class="btn" href="https://gitlab.com/krimlinger/fcf-survey-form">
                  <i class="fab fa-gitlab"></i>{{ i18n 'view_project_source' }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <span id="contact-anchor"></span>
        <h2>{{ i18n 'contact_msg' }}</h2>
        <div id="contact-group">
          <a id="profile-link" target="_blank" class="btn-inv"
                                               href="https://gitlab.com/krimlinger">
            <i class="fab fa-gitlab"></i>Gitlab
          </a>
          <a class="btn-inv" target="_blank"
                             href="https://keybase.io/krimlinger">
            <i class="fab fa-keybase"></i>Keybase
          </a>
          <button id="contact-email">
            <i class="fa fa-envelope"></i>Email
          </button>
        </div>
      </section>
    </main>
  </body>
</html>
