$header-height: 100px;
$main-bg-color: #1e1e1e;
$main-fg-color: #efefef;
$button-bg-color: #e89c2c;
$button-fg-color: white;
$button-snd-bg-color: #39C9EB;
$button-snd-fg-color: white;
$content-max-width: 1300px;

$transition-min-width: 1px;
$transition-max-width: 900px;


html {
  box-sizing: border-box;
  font-size: 14px;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif, monospace;
  font-size: 100%;
  min-width: 300px;
  background-color: #efefef;
  color: #1e1e1e;
}

%main-bg-btn {
  text-align:center;
  padding: 0.7rem 1.2rem;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  background-color: $button-bg-color;
  color: $button-fg-color;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  text-decoration: none;

  &:hover {
    background-color: $button-fg-color;
    color: $button-bg-color;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
  }

  & > svg {
    margin-right: 0.5rem;
  }
}

.btn {
  @extend %main-bg-btn;
}

.btn-snd {
  @extend %main-bg-btn;
  background-color: $button-snd-bg-color;
  color: $button-snd-fg-color;

  &:hover {
    background-color: $button-snd-fg-color;
    color: $button-snd-bg-color;
  }
}

.btn-inv {
  @extend %main-bg-btn;
  background-color: $button-fg-color;
  color: $button-bg-color;
  border: 2px solid $button-bg-color;

  &:hover {
    background-color: $button-bg-color;
    color: $button-fg-color;
  }
}

header {
  z-index: 2;
  width: 100%;
  height: $header-height;
  position: fixed;

  nav {
    font-variant: small-caps;
    width: 100%;
    height: inherit;
    font-size: 1.4rem;
    transition: background-color 0.3s ease-out;

    &[data-navbar-scrolled="true"] {
      background-color: $main-bg-color;
      transition: background-color 0.3s ease-in;
    }
  }

  ul {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0.2rem;
  }

  a {
    color: $main-fg-color;
    text-decoration: none;
    transition: border-bottom 0.5s ease-in;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      position: relative;
      top: 3px;
      background-color: $button-bg-color;
      transition: width 0.5s ease;
    }

    &:hover::after {
      width: 100%;
      transition: width 0.5s ease;
    }
  }
}

#projects-anchor, #contact-anchor {
  position: relative;
  top: -$header-height;
}

section {
  padding: 1rem 2rem;
  margin-top: 4rem;

  h2 {
    font-size: 2.4rem;
    text-align: center;
  }

  h3 {
    font-size: 2.0rem;
    margin: 2rem 0 0 0;
  }

  hr {
    color: #c0c1bf;
    margin-bottom: 2rem;
  }
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) 60%, rgba(91, 55, 0, 0.2) 99%), url("../img/arcdps_rust_code.png");
  padding: $header-height + 60px 0 0 2rem;;
  margin-top: 0;

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }

  h2 {
    margin-left: 0;
    font-size: 2rem;
    font-weight: normal;
    text-align: left;
  }
}

@media screen and (min-width: 450px) {
  #welcome-section {
    align-items: flex-start;
    text-align: left;
  }

  nav {
    ul {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 5%;
    }

    li {
      margin-left: 1.5rem;
    }
  }
}

#projects {
  max-width: $content-max-width;
  margin: auto;
}

#projects-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
}

.project-tile {
  display: flex;
  flex-direction: column;
  color: $main-fg-color;
  background-color: $main-bg-color;
  border-radius: 4px;

  &:hover, &.selected-project {
    & .project-img {
      max-width: $transition-min-width;
    }

    & .project-panel {
      opacity: 1;
    }
  }
}

.project-flex {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  font-variant: small-caps;
}

.project-img {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: max-width 0.5s ease-in;
  max-width: $transition-max-width;
  object-fit: cover;
}

.project-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: opacity 1.2s ease-in;
  opacity: 0;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0.5rem;
  }

  a.btn {
    width: 100%;
    max-width: 60%;
    font-size: 1.1rem;
  }

  .btn-snd {
    font-size: 0.8rem;

    &:hover {
      cursor: default;
    }
  }

  & > p {
    text-align: justify;
  }
}

#contact {
  background-color: white;
  padding-bottom: 4rem;
}

#contact-group {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .btn-inv, button {
    flex-grow: 1;
    font-size: 1.3rem;
  }

  button {
    @extend .btn-inv;
  }
}

.email {
  transition: opacity 0.1s ease-in;
}
